<h1>Titanic Survival Predictions </h1>

In [91]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import scipy as sp
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [92]:
titanic_df = pd.read_csv("train.csv")
titanic_df.index = titanic_df.PassengerId

In [93]:
#replace nan age with mean age
titanic_df["Age"].fillna(titanic_df["Age"].mean(),inplace = True)

In [94]:
#male = 0 female = 1
titanic_df["Sex"] = titanic_df["Sex"].replace({"male" : "0", "female" : "1"})
titanic_df["Sex"] = titanic_df["Sex"].map(lambda v: round(float(v)))

In [95]:
titanic_df.rename(columns = {"Sex" : "Female"}, inplace = True)
titanic_df = titanic_df.drop(["PassengerId", "Name","Ticket","Cabin", "Embarked"], axis = 1)

In [97]:
titanic_df.groupby("Survived").mean()

            Pclass    Female        Age     SibSp     Parch       Fare
Survived
0         2.531876  0.147541  30.415100  0.553734  0.329690  22.117887
1         1.950292  0.681287  28.549778  0.473684  0.464912  48.395408